.underline-link a {
  position: relative;
  text-decoration: none;
  color: #34d399;
  font-weight: 600;
}

.underline-link a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #34d399;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-link a:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left;
}
