@import "tailwindcss";


:root {
  --bg: #ffffff;
  --primary: #2563eb; /* Tailwind’s blue-600 */
  --primary-light: #3b82f6;
  --text: #111827;
  --muted: #6b7280;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}
